<a href="https://colab.research.google.com/github/LorenKwok/Data-Analytics-Using-Python/blob/main/Python_Basics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("hello")

hello

In [ ]:
#python as a calculator
print(2+2)
print(2-2)
print(2*2)
print(2/2)

4
0
4
1.0

In [ ]:
# x = 2
# 2 + x = ?

x = 2
print(2+x)

#variable declaration

mystring = "I'm a string"
print(mystring)
#mystring is a variable

#data type - string
#strings are defined by their ""
#strings means words

4
I'm a string

In [ ]:
print("2"+2)

TypeError: ignored

In [ ]:
#concatenation - joining strings together

partone = "Hello"
parttwo = "World"
print(partone + parttwo)

HelloWorld

In [ ]:
#data structures - list
#data structure has a container and separators
#lists are defined by their []
#think of lists as rows in a spreadsheet
#a data strucure is a collection of values

mylist = ["1 ROOM", "2 ROOM", "3 ROOM", "4 ROOM"]
#mylist is a list with a collection of 4 strings

#query a single value from a list
#list have a zero base index
#query a single value from a list by its index

print(mylist[1])
print(mylist[0])

#print 4 ROOM
print(mylist[3])

#query multiple values
print(mylist[0:3]) #include:exclude

2 ROOM
1 ROOM
4 ROOM
['1 ROOM', '2 ROOM', '3 ROOM']

In [ ]:
#data structure - dictionary
#dictionaries are defined by its {}
#dictionaries are defined by its collection of key:value pairs
#think about dictionaries as columns in a spreadsheet

mydict = {"floor_area_sqm": 56, "resale_price": 560000}
#mydict is a dictionary with a collection of 2 key:value pairs
#the keys are floor_area_sqm and resale_price
#the values are 56 and 560000

#query a single value from a dictionary with its key
print(mydict["floor_area_sqm"])

#print 560000
print(mydict["resale_price"])

56
560000

In [ ]:
#create a "table"

house_data = [
    {"town": "BEDOK", "flat type": "3 ROOM", "resale_price": 300000},
    {"town": "CHOA CHU KANG", "flat_type": "4 ROOM", "resale_price": 400000},
    {"town": "EAST COAST", "flat_type": "5 ROOM", "resale_price":500000}
]

#query a single value
print(house_data[0])
print(house_data[0]["town"])

#query 4 ROOM
print(house_data[1]["flat_type"])

#query 500000
print(house_data[2]["resale_price"])

{'town': 'BEDOK', 'flat type': '3 ROOM', 'resale_price': 300000}
BEDOK
4 ROOM
500000